.illusionsContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    top: 50px;
}

.illusion {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}
