.backgroundImage {
    background-image: url('../../images/lines.jpg');
    width: 100%;
    height: 100%;
}

.landingPageContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.267);
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.altSignup {
    background-color: rgb(24, 26, 27);
    font-size: 24px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-top: 60px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
}

.landingH1 {
    font-size: 56px;

}

.landingMessage {
    font-size: 26px;
}
