.navButton {
    justify-content: center;
    align-items: center;
}
.singleIllusion{
    width: 100%;
}

.singleIllusionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #212124;
}

.illusionTitle {
    display: flex;
    justify-content: center;
}

.illusionDescription {
    display: flex;
    justify-content: center;
}

.singleIllusionImage {
    padding-top: 80px;
    padding-bottom: 80px;
}

.innerIllusionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editDeleteContainer {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 10px;
    justify-content: center;
}

.editButton {
    padding: 10px;
    background-color: gray;
    border-radius: 3px;
    width: 100px;
}

.deleteButton {
    padding: 10px;
    background-color: gray;
    border-radius: 3px;
    width: 100px;
}

.comments {
    display: flex;
    justify-content: center;
}
