* {
    box-sizing: border-box;
}

html {
    background-color: #f3f5f6;
}

.reNav {
    font-size: 14px;
}

button.inModal {
    border-radius: .25rem;
    border-style: none;
    background-color: #128FDC;
    color: white;
}
