* {
    box-sizing: border-box;
}

html {
    background-image: url('./images/lines.jpg');
}

.reNav {
    font-size: 14px;
}

button.inModal {
    border-radius: .25rem;
    border-style: none;
    background-color: #128FDC;
    color: white;
}
