* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-color: #f3f5f6;
}

div#root {
    font-family: Proxima Nova,Helvetica,sans-serif;
}

.reNav {
    font-size: 14px;
}

button.inModal {
    border-radius: .25rem;
    border-style: none;
    background-color: #128FDC;
    color: white;
}
