.navlinkTop {
    list-style-type: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(21,21,23,.95);
    padding: 0px 24px 0px 24px;
    margin: 0px 0px 0px 0px;
    height: 65px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkBot {
    display: flex;
    position: fixed;
    align-self: flex-end;
    background-color: black;
    z-index: 100;
    width: 100%;
    height: 56px;
    color: white;
}

#root {
    display: flex;
    align-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-dropdown {
    list-style-type: none;
}

.logo {
    height: 30px;
}

.naviLinks {
    display: flex;
    align-content: center;
}

.userInfo {
    background-color: white;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.navButton.L {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navButton.S {
    height: 32px;
    width: 97px;
    line-height: 32px;
    font-weight:600;
    font-family: Proxima Nova,Helvetica,sans-serif;
    font-size: 15px;
    background-color: #fff;
    border-radius: 3px;
    border-style: none;
    padding: 0px 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
