.navlinkUl {
    list-style-type: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(21,21,23,.95);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    z-index: 100;
}

.profile-dropdown {
    list-style-type: none;
}

.logo {
    height: 30px;
}

.naviLinks {
    display: flex;
    align-content: center;
}

.userInfo {
    background-color: white;
}
